.background {
  background-image: url("../Photos/HomePageBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
}
/* Headers */
.bar-header {
  background-color: darkblue;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.bar-function-buttons {
  width: 100%;
  height: 55px;
  background-color: #0080c9;
  position: fixed;
  top: 55px;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  justify-self: start;
  flex-direction: column;
  padding: 0 20px;
  z-index: 10;
  margin-top: 5.2px;
  border: rgb(0, 0, 0) solid 1px;
}
.logo-header {
  position: absolute;
  display: flex;
  left: 0px; /* Move the logo to the left edge */
  z-index: 12;
  align-self: center;
  height: 100%;
  top: 0px;
  left: 10px;
}

.logo-header img {
  height: 50px; /* Adjust the height to make the image smaller */
  width: auto; /* Maintain the aspect ratio */
  padding: 5px;
}
/*End of Headers */

/*Buttons */
.button-container {
  text-align: center;
  margin-bottom: 200px;
  position: absolute;
  top: 70%;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 40px 40px;
  background-color: #0080c9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s ease;
  margin: 20px;
  border-radius: 30px;
}

.button:active {
  background-color: darkblue;
}

.button:hover {
  background-color: darkblue;
  transform: scale(1.1);
  text-decoration: none;
}

.larger-button {
  display: inline-block;
  padding: 60px 50px;
  background-color: #0080c9;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  margin: 20px;
  border-radius: 30px;
}
.larger-button:active {
  background-color: darkblue;
}

.larger-button:hover {
  background-color: darkblue;
  transform: scale(1.1);
  text-decoration: none;
}
/*End of Buttons */

/* Navigation Effects */
.navigation {
  display: flex;
  gap: 40px;
  margin-left: 20px;
  flex: 1;
  margin: 5px;
  position: relative;
  bottom: 1%;
}

.navigation-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.navigation-link:active {
  background-color: darkblue;
}

.navigation-link:hover {
  background-color: darkblue;
  background-color: darkblue;
  transform: scale(1.1);
  text-decoration: none;
  z-index: 14;
}

/* End of Navigation Effects */

/* Cellphone View */
@media only screen and (max-width: 800px) and (min-width: 300px) {
  body,
  html {
    overflow: auto;
  }
  .background {
    background-image: url("../Photos/MobileBG.png");
  }
  .bar-header {
    padding-left: 55px;
    align-items: center;
    left: 0px;
    z-index: 50;
  }
  .logo-header {
    position: absolute;
    left: 2px;
    z-index: 12;
  }

  .logo-header img {
    height: 50px;
    width: auto;
    padding: 5px;
  }
  .bar-function-buttons {
    justify-content: space-between;
    padding-left: 13px;
    margin-top: 0px;
  }

  .navigation-link {
    font-size: 15px;
    align-self: center;
    display: flex;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navigation {
    gap: 20px;
  }
  .button-container {
    text-align: center;
    margin-bottom: 200px;
    position: absolute;
    top: 60%;
    width: 100%;
  }
  .button {
    display: inline-block;
    padding: 20px 20px;
    margin: 20px 0;
    align-self: center;
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 25px;
  }
  .larger-button {
    padding: 20px 20px;
    margin: 20px 0;
    align-self: center;
    width: 300px;
    text-align: center;
    font-size: 20px;
    height: 20px;
  }
  .Explore-title {
    font-size: 40px;
    align-self: center;
  }
  .mappedin {
    width: 98.7%;
    height: 100%;
    position: sticky;
    bottom: 5px;
    overflow: hidden;
  }
  .first-text {
    font-size: 20px;
    align-self: flex-start;
    margin-top: 60%;
    text-align: justify;
    width: 88%;
    margin-left: 20px;
  }
  .second-text {
    font-size: 18px;
    width: 80%;
  }
}
